{% if app.session.get('is_granted') == 'ROLE_ADMIN' %}
<img src="http://www.bloomberg.com/apps/chart?timeout=10&h={{wh[0]}}&w={{wh[1]}}&type=gp_line2&range=3m&ticks={{abbr}}:PM&cfg=ChartBuilderVol_bw.xml&img=png"/>
{% elseif app.session.get('is_granted') == 'ROLE_USER' %}
    {% set wkhigh = (scrapes is defined and scrapes|length > 0) ? scrapes[0].getWkHighRange : 'N/A' %}
    {% set wklow = (scrapes is defined and scrapes|length > 0) ? scrapes[0].getWkLowRange : 'N/A' %}
    {% set peRatio = (scrapes is defined and scrapes|length > 0) ? scrapes[0].getPeRatio : 'N/A' %}
    {% set epsRatio = (scrapes is defined and scrapes|length > 0) ? scrapes[0].getEps : 'N/A' %}
    <p>
        <b>52WK HIGH: </b>{{ wkhigh }}&nbsp;&nbsp;
        <b>52WK LOW: </b>{{ wklow }}&nbsp;&nbsp;
        <b>P/E RATIO: </b>{{ peRatio }}&nbsp;&nbsp;
        <b>EPS RATIO: </b>{{ epsRatio }}&nbsp;&nbsp;
    </p>
    <p>
        <b>COMPANY PROFILE: </b><a href="http://www.bloomberg.com/profiles/companies/{{abbr}}:PM" target="_blank"><small>Link&nbsp;<i class="fa fa-fw fa-external-link"></i></small></a>
        <b>LATEST NEWS: </b><a href="http://www.bookaka.com/Home/Company/{{abbr}}" target="_blank"><small>Link&nbsp;<i class="fa fa-fw fa-external-link"></i></small></a>
        <b>TECHNICAL ANALYSIS: </b><a href="{{link.getLink}}" target="_blank"><small>Link&nbsp;<i class="fa fa-fw fa-external-link"></i></small></a>
    </p>
{% endif %}
<span class="past-data-title" data-title="{{ dataTitle }}" style="display:none">{{ dataTitle }}</span>
<table id="scrapedTable2" class="table table-bordered table-condensed table-hover main-table">
		<thead>
		<tr class="active">
			<th>DATE</th>
			<th>SUMMARY</th>
			<th>OPEN</th>
			<th>CLOSE</th>
			<th>HIGH</th>
			<th>LOW</th>
		</tr>
		</thead>
		<tbody>
		{% if scrapes|length > 0 %}

		{% set summ = {0: "", 1: "---"} %}

		{% for k, scrape in scrapes %}
		
		{# For Summary #}
		{% if scrape.getSummary == 1 %}
			{% set summ = { 0: "summ-sell", 1: "SELL" } %}
		{% elseif scrape.getSummary == 2 %}
			{% set summ = { 0: "summ-buy", 1: "BUY" } %}
		{% elseif scrape.getSummary == 3 %}
			{% set summ = { 0: "summ-strong-sell", 1: "STRONG SELL" } %}
		{% elseif scrape.getSummary == 4 %}
			{% set summ = { 0: "summ-strong-buy", 1: "STRONG BUY" } %}
		{% elseif scrape.getSummary == 5 %}
			{% set summ = { 0: "summ-neutral", 1: "NEUTRAL" } %}
		{% endif %}
        
        {% set latestPrice = scrape.getCloseTotal %}
        {% set traded = scrape.getVolume*latestPrice %}
		<tr>
            <td>{{ scrape.getCreatedAt|date("Y/m/d") }}</td>
			<td class="{{ summ[0] }}" data-traded="{{traded}}">
				{{ summ[1] }} ({% if scrape.getChangePercent > 0 %}+{% endif %}{{ scrape.getChangePercent }}%)
				<br/>
				<span>MA: {{ scrape.getMovingAverages }} of {{ scrape.getMovingAveragesTotal }}</span>
				<br/>
				<span>TI: {{ scrape.getTechnicalIndicators }} of {{ scrape.getTechnicalIndicatorsTotal }}</span>
				<br/>
				<span>VOLUME: {{ scrape.getVolume|number_format }}</span>
                <br/>
                <span>TRADED: {{ traded|number_format }}</span>
			</td>
			<td>{{ scrape.getOpenTotal }}</td>
			<td>
                {{ latestPrice }}
                {#
                <br/>
                {% if latestPrice == scrape.getWkHighRange %}
                <span>ALL TIME HIGH</span><br/>
                {% endif %}
                {% if latestPrice == scrape.getWkLowRange %}
                <span>ALL TIME LOW</span><br/>
                {% endif %}
                #}
                {#
                <br/>
                <span>52H: {{ scrape.getWkHighRange }}</span>
                <br/>
                <span>52L: {{ scrape.getWkLowRange }}</span>
                <br/>
                <span>P/E: {{ scrape.getPeRatio }}</span>
                <br/>
                <span>EPS: {{ scrape.getEps }}</span>
                #}
            </td>
			<td>{{ scrape.getHighRange }}</td>
			<td>{{ scrape.getLowRange }}</td>
		</tr>
		{% endfor %}
		{% endif %}
		<tbody>
</table>