{% extends 'layout.twig' %}

{% block styles %}
	<link href="{{ baseUrl }}/css/style.css?v=2.0" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-lg-12 scraped-table-yest">
{% if hasSector is defined and hasSector is null and subsector != 0 %}
    <div class="alert alert-warning" style="margin-top:20px"><i class="fa fa-fw fa-exclamation-triangle"></i> No result for subsector <b>"{{ subsector|categories|raw }}</b>", showing all {{ title|lower }}.
    </div>
{% endif %}
<h1 class="heading">{{ title|raw }}</h1>

{% include 'front/includes/actions-btn.twig' %}

<div class="row">
    <div class="col-lg-4">
    <h5><b>ACTIVE STOCKS</b></h5>
	<table id="scrapedTableActive" class="table table-bordered table-condensed table-hover main-table">
			<thead>
			<tr class="active">
				<th>SYM</th>
				<th>PRICE</th>
				<th>VOLUME</th>
				<th>SUMMARY</th>
			</tr>
			</thead>
			<tbody>
			{% for k, data in scrapes[2] %}

			{% if data.getSummary == 1 %}
				{% set summ = { 0: "summ-sell", 1: "SELL" } %}
			{% elseif data.getSummary == 2 %}
				{% set summ = { 0: "summ-buy", 1: "BUY" } %}
			{% elseif data.getSummary == 3 %}
				{% set summ = { 0: "summ-strong-sell", 1: "STRONG SELL" } %}
			{% elseif data.getSummary == 4 %}
				{% set summ = { 0: "summ-strong-buy", 1: "STRONG BUY" } %}
			{% elseif data.getSummary == 5 %}
				{% set summ = { 0: "summ-neutral", 1: "NEUTRAL" } %}
			{% endif %}
            
            {% set latestPrice = data.getCloseTotal %}
            {% set traded = data.getVolume*data.getCloseTotal %}
            {% set sort_ = (role == "ROLE_ADMIN") ? traded : data.getVolume %}

				<tr>
					<td class="abbr" data-toggle="modal" data-target="#pastData">{{ data.getAbbr }}</td>
                    <td class="price" data-traded="{{ latestPrice }}">
                        {{ latestPrice|number_format(2, '.', ',') }}
                        <br/>
                        {% if latestPrice == data.getWkHighRange %}
                        <span>ALL TIME HIGH</span><br/>
                        {% endif %}
                        {% if latestPrice == data.getWkLowRange %}
                        <span>ALL TIME LOW</span><br/>
                        {% endif %}
                        <span>52H: {{ data.getWkHighRange }}</span>
                        <br/>
                        <span>52L: {{ data.getWkLowRange }}</span>
                        <br/>
                        <span>P/E: {{ data.getPeRatio }}</span>
                        <br/>
                        <span>EPS: {{ data.getEps }}</span>
                    </td>
					<td data-traded="{{ data.getVolume }}">{{ data.getVolume|number_format }}</td>
					<td class="{{ summ[0] }}" data-traded="{{sort_}}">
						{{ summ[1] }} ({% if data.getChangePercent > 0 %}+{% endif %}{{ data.getChangePercent }}%)
						<br/>
						<span>MA: {{ data.getMovingAverages }} of {{ data.getMovingAveragesTotal }}</span>
						<br/>
						<span>TI: {{ data.getTechnicalIndicators }} of {{ data.getTechnicalIndicatorsTotal }}</span>
						<br/>
						<span>VOLUME: {{ data.getVolume|number_format }}</span>
                        <br/>
                        <span>TRADED: {{ traded|number_format }}</span>
					</td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	</div>
	<div class="col-lg-4">
    <h5><b>GAINING STOCKS</b></h5>
	<table id="scrapedTableGain" class="table table-bordered table-condensed table-hover main-table">
			<thead>
			<tr class="active">
				<th>SYM</th>
				<th>PRICE</th>
				<th>GAIN</th>
				<!--<th>VOLUME</th>-->
				<th>SUMMARY</th>
			</tr>
			</thead>
			<tbody>
			{% for k, data in scrapes[0] %}

			{% if data.getSummary == 1 %}
				{% set summ = { 0: "summ-sell", 1: "SELL" } %}
			{% elseif data.getSummary == 2 %}
				{% set summ = { 0: "summ-buy", 1: "BUY" } %}
			{% elseif data.getSummary == 3 %}
				{% set summ = { 0: "summ-strong-sell", 1: "STRONG SELL" } %}
			{% elseif data.getSummary == 4 %}
				{% set summ = { 0: "summ-strong-buy", 1: "STRONG BUY" } %}
			{% elseif data.getSummary == 5 %}
				{% set summ = { 0: "summ-neutral", 1: "NEUTRAL" } %}
			{% endif %}
            
            {% set latestPrice = data.getCloseTotal %}
            {% set traded = data.getVolume*data.getCloseTotal %}
            {% set sort_ = (role == "ROLE_ADMIN") ? traded : data.getVolume %}

				<tr>
					<td class="abbr" data-toggle="modal" data-target="#pastData">{{ data.getAbbr }}</td>
					<td class="price" data-traded="{{ latestPrice }}">
                        {{ latestPrice|number_format(2, '.', ',') }}
                        <br/>
                        {% if latestPrice == data.getWkHighRange %}
                        <span>ALL TIME HIGH</span><br/>
                        {% endif %}
                        {% if latestPrice == data.getWkLowRange %}
                        <span>ALL TIME LOW</span><br/>
                        {% endif %}
                        <span>52H: {{ data.getWkHighRange }}</span>
                        <br/>
                        <span>52L: {{ data.getWkLowRange }}</span>
                        <br/>
                        <span>P/E: {{ data.getPeRatio }}</span>
                        <br/>
                        <span>EPS: {{ data.getEps }}</span>
                    </td>
					<td class="green-txt">+{{ data.getChangePercent }}%</td>
					<!--<td>{{ data.getVolume|number_format(2, '.', ',') }}</td>-->
					<td class="{{ summ[0] }}" data-traded="{{sort_}}">
						{{ summ[1] }} ({% if data.getChangePercent > 0 %}+{% endif %}{{ data.getChangePercent }}%)
						<br/>
						<span>MA: {{ data.getMovingAverages }} of {{ data.getMovingAveragesTotal }}</span>
						<br/>
						<span>TI: {{ data.getTechnicalIndicators }} of {{ data.getTechnicalIndicatorsTotal }}</span>
						<br/>
						<span>VOLUME: {{ data.getVolume|number_format }}</span>
                        <br/>
                        <span>TRADED: {{ traded|number_format }}</span>
					</td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	</div>
	<div class="col-lg-4">
    <h5><b>LOSING STOCKS</b></h5>
	<table id="scrapedTableLoss" class="table table-bordered table-condensed table-hover main-table">
			<thead>
			<tr class="active">
				<th>SYM</th>
				<th>PRICE</th>
				<th>LOSE</th>
				<th>SUMMARY</th>
			</tr>
			</thead>
			<tbody>
			{% for k, data in scrapes[1] %}

			{% if data.getSummary == 1 %}
				{% set summ = { 0: "summ-sell", 1: "SELL" } %}
			{% elseif data.getSummary == 2 %}
				{% set summ = { 0: "summ-buy", 1: "BUY" } %}
			{% elseif data.getSummary == 3 %}
				{% set summ = { 0: "summ-strong-sell", 1: "STRONG SELL" } %}
			{% elseif data.getSummary == 4 %}
				{% set summ = { 0: "summ-strong-buy", 1: "STRONG BUY" } %}
			{% elseif data.getSummary == 5 %}
				{% set summ = { 0: "summ-neutral", 1: "NEUTRAL" } %}
			{% endif %}
            
            {% set latestPrice = data.getCloseTotal %}
            {% set traded = data.getVolume*data.getCloseTotal %}
            {% set sort_ = (role == "ROLE_ADMIN") ? traded : data.getVolume %}

				<tr>
					<td class="abbr" data-toggle="modal" data-target="#pastData">{{ data.getAbbr }}</td>
					<td class="price" data-traded="{{ latestPrice }}">
                        {{ latestPrice|number_format(2, '.', ',') }}
                        <br/>
                        {% if latestPrice == data.getWkHighRange %}
                        <span>ALL TIME HIGH</span><br/>
                        {% endif %}
                        {% if latestPrice == data.getWkLowRange %}
                        <span>ALL TIME LOW</span><br/>
                        {% endif %}
                        <span>52H: {{ data.getWkHighRange }}</span>
                        <br/>
                        <span>52L: {{ data.getWkLowRange }}</span>
                        <br/>
                        <span>P/E: {{ data.getPeRatio }}</span>
                        <br/>
                        <span>EPS: {{ data.getEps }}</span>
                    </td>
					<td class="red-txt">{{ data.getChangePercent }}%</td>
					<td class="{{ summ[0] }}" data-value="{{ data.getVolume }}" data-traded="{{sort_}}">
						{{ summ[1] }} ({% if data.getChangePercent > 0 %}+{% endif %}{{ data.getChangePercent }}%)
						<br/>
						<span>MA: {{ data.getMovingAverages }} of {{ data.getMovingAveragesTotal }}</span>
						<br/>
						<span>TI: {{ data.getTechnicalIndicators }} of {{ data.getTechnicalIndicatorsTotal }}</span>
						<br/>
						<span>VOLUME: {{ data.getVolume|number_format }}</span>
                        <br/>
                        <span>TRADED: {{ traded|number_format }}</span>
					</td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	</div>
</div>
</div>

{% include 'front/includes/past-data.twig' %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ baseUrl }}/js/jq.functions.js"></script>
<script>
	$(document).ready(function(){
        var tables = ['#scrapedTableActive', '#scrapedTableGain', '#scrapedTableLoss'];
        for (var i=0;i<tables.length;i++)
        {
            $(tables[i]).tablesorter({
                textExtraction: function(node){ 
                    var cell_value = $(node).text();
                    var sort_value = $(node).data('traded');
                    return (sort_value != undefined) ? sort_value : cell_value;
                },
            }); 
        }
	});
</script>
{% endblock %}