{% extends 'layout.twig' %}

{% block styles %}
	<link href="{{ baseUrl }}/css/style.css?v=2.0" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-lg-12 scraped-table-yest">
<h1>{{ title }}</h1>

{% include 'front/includes/actions-btn.twig' %}

<div class="row">
    <div class="col-lg-4">
	<table id="scrapedTableActive" class="table table-bordered table-condensed table-hover main-table">
			<thead>
			<tr class="active">
				<th>SYM</th>
				<th>PRICE</th>
				<th>VOLUME</th>
				<th>SUMMARY</th>
			</tr>
			</thead>
			<tbody>
			{% for k, data in scrapes[2] %}

			{% if data.getSummary == 1 %}
				{% set summ = { 0: "summ-sell", 1: "SELL" } %}
			{% elseif data.getSummary == 2 %}
				{% set summ = { 0: "summ-buy", 1: "BUY" } %}
			{% elseif data.getSummary == 3 %}
				{% set summ = { 0: "summ-strong-sell", 1: "STRONG SELL" } %}
			{% elseif data.getSummary == 4 %}
				{% set summ = { 0: "summ-strong-buy", 1: "STRONG BUY" } %}
			{% elseif data.getSummary == 5 %}
				{% set summ = { 0: "summ-neutral", 1: "NEUTRAL" } %}
			{% endif %}
                
            {% set traded = data.getVolume*data.getCloseTotal %}

				<tr>
					<td class="abbr" data-toggle="modal" data-target="#pastData">{{ data.getAbbr }}</td>
                    <td data-value="{{ data.getCloseTotal }}">
                        {{ data.getCloseTotal|number_format(2, '.', ',') }}
                        <br/>
                        <span>52H: {{ data.getWkHighRange }}</span>
                        <br/>
                        <span>52L: {{ data.getWkLowRange }}</span>
                        <br/>
                        <span>P/E: {{ data.getPeRatio }}</span>
                        <br/>
                        <span>EPS: {{ data.getEps }}</span>
                    </td>
					<td data-value="{{ data.getVolume }}">{{ data.getVolume|number_format }}</td>
					<td class="{{ summ[0] }}" data-value="{{ data.getVolume }}">
						{{ summ[1] }} ({% if data.getChangePercent > 0 %}+{% endif %}{{ data.getChangePercent }}%)
						<br/>
						<span>MA: {{ data.getMovingAverages }} of {{ data.getMovingAveragesTotal }}</span>
						<br/>
						<span>TI: {{ data.getTechnicalIndicators }} of {{ data.getTechnicalIndicatorsTotal }}</span>
						<br/>
						<span>VOLUME: {{ data.getVolume|number_format }}</span>
                        <br/>
                        <span>TRADED: {{ traded|number_format }}</span>
					</td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	</div>
	<div class="col-lg-4">
	<table id="scrapedTableGain" class="table table-bordered table-condensed table-hover main-table">
			<thead>
			<tr class="active">
				<th>SYM</th>
				<th>PRICE</th>
				<th>GAIN</th>
				<!--<th>VOLUME</th>-->
				<th>SUMMARY</th>
			</tr>
			</thead>
			<tbody>
			{% for k, data in scrapes[0] %}

			{% if data.getSummary == 1 %}
				{% set summ = { 0: "summ-sell", 1: "SELL" } %}
			{% elseif data.getSummary == 2 %}
				{% set summ = { 0: "summ-buy", 1: "BUY" } %}
			{% elseif data.getSummary == 3 %}
				{% set summ = { 0: "summ-strong-sell", 1: "STRONG SELL" } %}
			{% elseif data.getSummary == 4 %}
				{% set summ = { 0: "summ-strong-buy", 1: "STRONG BUY" } %}
			{% elseif data.getSummary == 5 %}
				{% set summ = { 0: "summ-neutral", 1: "NEUTRAL" } %}
			{% endif %}
                
            {% set traded = data.getVolume*data.getCloseTotal %}

				<tr>
					<td class="abbr" data-toggle="modal" data-target="#pastData">{{ data.getAbbr }}</td>
					<td data-value="{{ data.getCloseTotal }}">
                        {{ data.getCloseTotal|number_format(2, '.', ',') }}
                        <br/>
                        <span>52H: {{ data.getWkHighRange }}</span>
                        <br/>
                        <span>52L: {{ data.getWkLowRange }}</span>
                        <br/>
                        <span>P/E: {{ data.getPeRatio }}</span>
                        <br/>
                        <span>EPS: {{ data.getEps }}</span>
                    </td>
					<td class="green-txt">+{{ data.getChangePercent }}%</td>
					<!--<td>{{ data.getVolume|number_format(2, '.', ',') }}</td>-->
					<td class="{{ summ[0] }}" data-value="{{ data.getVolume }}">
						{{ summ[1] }} ({% if data.getChangePercent > 0 %}+{% endif %}{{ data.getChangePercent }}%)
						<br/>
						<span>MA: {{ data.getMovingAverages }} of {{ data.getMovingAveragesTotal }}</span>
						<br/>
						<span>TI: {{ data.getTechnicalIndicators }} of {{ data.getTechnicalIndicatorsTotal }}</span>
						<br/>
						<span>VOLUME: {{ data.getVolume|number_format }}</span>
                        <br/>
                        <span>TRADED: {{ traded|number_format }}</span>
					</td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	</div>
	<div class="col-lg-4">
	<table id="scrapedTableLoss" class="table table-bordered table-condensed table-hover main-table">
			<thead>
			<tr class="active">
				<th>SYM</th>
				<th>PRICE</th>
				<th>LOSE</th>
				<th>SUMMARY</th>
			</tr>
			</thead>
			<tbody>
			{% for k, data in scrapes[1] %}

			{% if data.getSummary == 1 %}
				{% set summ = { 0: "summ-sell", 1: "SELL" } %}
			{% elseif data.getSummary == 2 %}
				{% set summ = { 0: "summ-buy", 1: "BUY" } %}
			{% elseif data.getSummary == 3 %}
				{% set summ = { 0: "summ-strong-sell", 1: "STRONG SELL" } %}
			{% elseif data.getSummary == 4 %}
				{% set summ = { 0: "summ-strong-buy", 1: "STRONG BUY" } %}
			{% elseif data.getSummary == 5 %}
				{% set summ = { 0: "summ-neutral", 1: "NEUTRAL" } %}
			{% endif %}
                
            {% set traded = data.getVolume*data.getCloseTotal %}

				<tr>
					<td class="abbr" data-toggle="modal" data-target="#pastData">{{ data.getAbbr }}</td>
					<td data-value="{{ data.getCloseTotal }}">
                        {{ data.getCloseTotal|number_format(2, '.', ',') }}
                        <br/>
                        <span>52H: {{ data.getWkHighRange }}</span>
                        <br/>
                        <span>52L: {{ data.getWkLowRange }}</span>
                        <br/>
                        <span>P/E: {{ data.getPeRatio }}</span>
                        <br/>
                        <span>EPS: {{ data.getEps }}</span>
                    </td>
					<td class="red-txt">{{ data.getChangePercent }}%</td>
					<td class="{{ summ[0] }}" data-value="{{ data.getVolume }}">
						{{ summ[1] }} ({% if data.getChangePercent > 0 %}+{% endif %}{{ data.getChangePercent }}%)
						<br/>
						<span>MA: {{ data.getMovingAverages }} of {{ data.getMovingAveragesTotal }}</span>
						<br/>
						<span>TI: {{ data.getTechnicalIndicators }} of {{ data.getTechnicalIndicatorsTotal }}</span>
						<br/>
						<span>VOLUME: {{ data.getVolume|number_format }}</span>
                        <br/>
                        <span>TRADED: {{ traded|number_format }}</span>
					</td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	</div>
</div>
</div>

{% include 'front/includes/past-data.twig' %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ baseUrl }}/js/jq.functions.js"></script>
<script>
	$(document).ready(function(){
        $('#scrapedTableActive').tablesorter({
            textExtraction: function(node){ 
                var cell_value = $(node).text();
                var sort_value = $(node).data('value');
                return (sort_value != undefined) ? sort_value : cell_value;
            }
        });
		$('#scrapedTableGain').tablesorter({
            textExtraction: function(node){ 
                var cell_value = $(node).text();
                var sort_value = $(node).data('value');
                return (sort_value != undefined) ? sort_value : cell_value;
            }
        }); 
		$('#scrapedTableLoss').tablesorter({
            textExtraction: function(node){ 
                var cell_value = $(node).text();
                var sort_value = $(node).data('value');
                return (sort_value != undefined) ? sort_value : cell_value;
            }
        });
	});
</script>
{% endblock %}